@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i|Roboto+Slab:400,700';


h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

nav.top-bar {
	background-image: url('../img/acrosstime.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 23% 23%;
}

nav.top-bar div.top-bar-left ul.menu li a.menu-text  {
	font-family: 'Roboto Slab', serif;
	font-size: 1.3em;
	font-weight: 400;
}

body {
	font-family: 'Raleway', sans-serif;
}

footer li.menu-text {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	letter-spacing: .05em;
}

nav.top-bar div.top-bar-right ul.menu li {
	padding: 0 .3em;
}

nav.top-bar div.top-bar-left ul.dropdown.menu li ul.menu li a {
	font-family: 'Roboto Slab', serif;
	letter-spacing: .08em;
}


ul.menu {
	color: #fff;
	background-color: transparent;
}

ul.menu a:hover,
ul.menu a:focus {
	color: #ddd;
}

ul.submenu {
	background-color: #0f0f0f;
}

ul.submenu a {
	color: #fff;
}

nav.top-bar div.top-bar-left ul.dropdown.menu li a:hover,
nav.top-bar div.top-bar-left ul.dropdown.menu li a:focus {
	color: #ddd;
}